@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
.container{
  max-width: 1230px;
  margin: 0 auto;
}
html{
  scroll-behavior: smooth;
}

#loading {
  position: fixed;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: .5s;
  .dash {
    margin: 0 15px;
    width: 35px;
    height: 15px;
    border-radius: 8px;
    background: #FF2CBD;
    box-shadow: 0 0 10px 0 #FECDFF;
  }
  .uno {
    margin-right: -18px;
    transform-origin: center left;
    animation: spin 3s linear infinite;  
  }
  .dos {
    transform-origin: center right;
    animation: spin2 3s linear infinite;
    animation-delay: .2s;
  }
  .tres {
    transform-origin: center right;
    animation: spin3 3s linear infinite;
    animation-delay: .3s;
  }
  .cuatro {
    transform-origin: center right;
    animation: spin4 3s linear infinite;
    animation-delay: .4s;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(360deg);
    }
    30% {
      transform: rotate(370deg);
    }
    35% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes spin2 {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(-180deg);
    }
    35% {
      transform: rotate(-190deg);
    }
    40% {
      transform: rotate(-180deg);
    }
    78% {
      transform: rotate(-180deg);
    }
    95% {
      transform: rotate(-360deg);
    }
    98% {
      transform: rotate(-370deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  @keyframes spin3 {
    0% {
      transform: rotate(0deg);
    }
    27% {
      transform: rotate(0deg);  
    }
    40% {
      transform: rotate(180deg);
    }
    45% {
      transform: rotate(190deg);
    }
    50% {
      transform: rotate(180deg);
    }
    62% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(360deg);
    }
    80% {
      transform: rotate(370deg);
    }
    85% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes spin4 {
    0% {
      transform: rotate(0deg);
    }
    38% {
      transform: rotate(0deg);
    }
    60% {
      transform: rotate(-360deg);
    }
    65% {
      transform: rotate(-370deg);
    }
    75% {
      transform: rotate(-360deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}
#loading.loading-none {
  opacity: 0;
  z-index: -1;
}


// Navbar Start
nav{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background: #232536;
  width: 100%;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.107);
  .nav{
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 18px;
     .logo{
      color: #fff;
      font-size: 21px;
      font-weight: 600;
       a{
        text-decoration: none;
        list-style: none;
        color: white;
      }
    }
    ul{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      list-style: none;
      li{
        margin: 0 4px;
      }
      a{
          color: #ffffffa9;
        text-decoration: none;
        font-size: 14.5px;
        font-weight: 500;
        padding: 2px 5px;
        border-radius: 5px;
        letter-spacing: 1px;
        transition: all 0.2s ease;
      }
      a.active,
      a:hover{
        color: white;
      }
    }
  }
}
.nav .menu-btn i{
  color: white;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
// Navbar End

.sec1{
  .slider {
      height: 690px;
      position: relative;
      overflow: hidden;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
              background: #fdfdfd;
              .slider__nav {
                width: 12px;
                height: 12px;
                margin: 2rem 12px;
                border-radius: 50%;
                z-index: 10;
                outline: 6px solid #ccc;
                outline-offset: -6px;
                box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
                cursor: pointer;
                -webkit-appearance: none;
                   -moz-appearance: none;
                        appearance: none;
                -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
              }
              .slider__nav:checked {
                -webkit-animation: check 0.4s linear forwards;
                        animation: check 0.4s linear forwards;
              }
              .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
                left: 0%;
              }
              .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
                left: -100%;
              }
              .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
                left: -200%;
              }
              .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
                left: -300%;
              }
              .slider__inner {
                position: absolute;
                top: -30px;
                left: 0;
                width: 400%;
                height: 100%;
                -webkit-transition: left 0.4s;
                transition: left 0.4s;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-flow: row nowrap;
                    -ms-flex-flow: row nowrap;
                        flex-flow: row nowrap;
              }
              .slider__contents {
                height: 100%;
                padding: 2rem;
                text-align: center;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                    -ms-flex: 1;
                        flex: 1;
                -webkit-flex-flow: column nowrap;
                    -ms-flex-flow: column nowrap;
                        flex-flow: column nowrap;
                -webkit-box-align: center;
                -webkit-align-items: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                        .fl{
                          display: flex;
                          gap: 20px;
                          a:hover{
                            transition: .9s;
                            margin-top: -20px;
                          }
                        }
                        .sa{
                          animation: float 3.1s ease-in-out infinite;
                          @keyframes float {
                            0%,
                            100% {
                              transform: translateY(0rem);
                            }
                            50% {
                              transform: translateY(1.6rem);
                            }
                          }
                        }
              }
              
              .slider__image {
                font-size: 2.7rem;
                    color: #2196F3;
              }
              .slider__caption {
                font-weight: 500;
                margin: 2rem 0 1rem;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
              }
              .slider__txt {
                color: #999;
                margin-bottom: 2rem;
                max-width: 440px;
              }
              @-webkit-keyframes check {
                50% {
                  outline-color: #333;
                  box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
                }
                100% {
                  outline-color: #333;
                  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
                }
              }
              
              @keyframes check {
                50% {
                  outline-color: #333;
                  box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
                }
                100% {
                  outline-color: #333;
                  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
                }
              }  
  }
}

.sec2 {
  background: #ECF8F9;
  width: 100%; 
  #owl-carousel {
    padding: 20px 20px;
    .tx {
      padding: 5px 25px;
      h1 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 51px;
        color: #22343d;
      }
    }
    .owl-carousel-1 {
      position: relative;
      padding: 10px 14px;
      .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
        margin: 20px 7px;
        border-radius: 30px;
        transition: all 0.2s ease;
        background-color: #bab9b9;
      }
      .owl-nav {
        display: none;
      }
      .card2 {
        border: 1px solid #e6e5e5;
        background: #ffffff;
        width: 97%;
        margin: auto;
        border-radius: 6px;
        position: relative;
        cursor: pointer;
        transition: all 0.2 ease;
        overflow: hidden;
        .im {
          position: absolute;
          top: -166px;
          right: -166px;
          transition: all 0.1s ease-in-out;
        }
        .box {
          display: flex;
          align-items: center;
          color: white;
          text-align: left;
          img {
            width: 100%;
            height: 255px;
          }
          p {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 700;
            font-size: 18.5px;
            line-height: 30px;
            color: #22343d;
            padding-bottom: 23px;
          }
          h3 {
            color: black;
            font-weight: 500;
            font-size: 14px;
            padding-bottom: 20px;
          }
          a {
            color: blue;
            font-weight: 500;
            font-size: 15px;
            padding-bottom: 20px;
            text-decoration: none;
          }
        }
      }
      .card2::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background-color: crimson;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 6px;
        transition: 0.9s ease;
      }
      .card2:hover {
        background-color: transparent;
      }
      .card2:hover::before {
        width: 100%;
      }
      .card2:hover h3 {
        color: white;
        transition: 1s;
      }
      .card2:hover p {
        color: white;
        transition: 1s;
      }
      .card2:hover a {
        color: white;
        transition: 1s;
        text-decoration: underline;
      }
      .card2:hover .im {
        top: 3;
        right: 0;
      }
      .flexx {
        display: flex;
        align-items: center;
        gap: 20px;
        .imm {
          width: 1px;
        }
      }
    }
    .owl-carousel-1 .owl-dots .owl-dot.active span {
      width: 50px;
      background-color: #3858d6;
    }
  }
}


// Footer Start
footer{
  background: white;
  position: relative;
  width: 100%;
  min-height: 350px;
  padding: 5rem 1rem;
  .f {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  }
  .row{
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   .col{
    min-width: 250px;
    color:black;
    font-family: poppins;
    padding:0 1.7rem;
    h3{
     color:#ff014fff;
     margin-bottom: 20px;
     position: relative;
     cursor: pointer;
     h3::after{
      content: '';
      height:3px;
      width:0px;
      background-color: #ff014fff;
      position: absolute;
      bottom: 0;
      left:0;
      transition: 0.3s ease;
     
     }
     h3:hover::after{
      width:30px
     }
    }
   } 
   .col .links a{
    display: block;
    text-decoration: none;
    color:black;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s ease;
   }.col .links a::before{
    content:'';
    height: 16px;
    width:3px;
    position: absolute;
    top:5px;
    left:-10px;
    background-color: #ff014fff;
    transition: 0.5s ease;
    opacity: 0;
   }.col .links a:hover::before{
    opacity: 1;
   }.col .links a:hover{
    transform: translateX(-8px);
    color:#ff014fff;
   }.col .contact-details{
    display: inline-flex;
    justify-content: space-between;
   }.col .contact-details i{
    margin-right:15px;
   }
  }
}
// Footer End

// Footer-End Start
.footer-end{
  background: #FFE6D2;
  padding: 20px 0px;
  .fle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 19.6px;
    .Afle{
      display: flex;
      gap: 25px;
      align-items: center;
      a{
        color: black;
        font-weight: 600;
        font-size: 20px;
        text-decoration: none;
      }
    }
    .icon{
      display: flex;
      gap: 15px;
    }
  }
}
// Footer-End End


// Footer
@media(max-width:1020px){
  .row{
    flex-direction: column;
    width: 100%;
    .col{
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
    padding:0 .8rem;
    }
  }
}
// Nav
@media (max-width: 950px) {
  .nav{
    padding: 0px 30px;
    ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
      li{
        width: 100%;
        margin: 30px 0;
        a{
          width: 100%;
          margin-left: -100%;
          display: block;
          font-size: 20px;
          transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
      }
    }
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  #click:checked ~ ul{
    left: 0;
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  .nav .menu-btn i{
    display: block;
  }
  .nav ul li a.active,
  .nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
// Footer
@media(max-width:768px){
  .d{
    margin-left: -15px;
  }
  .row{
    flex-direction: column;
    width: 100%;
    .col{
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    margin-left: -15px;
    }
  }
}
@media (max-width:550px) {
  .sec2 {
    #owl-carousel {
      padding: 20px 16px;
      width: 100%;
      .tx {
        padding: 5px 17px;
        h1 {
          font-size: 25px;
          line-height: 40px;
        }
      }
      .owl-carousel-1 {
        position: relative;
        padding: 10px 10px;
        width: 100%;
        .card2 {
          border: 1px solid #e6e5e5;
          background: #ffffff;
          width: 97%;
          margin: auto;
          border-radius: 6px;
          position: relative;
          cursor: pointer;
          transition: all 0.2 ease;
          overflow: hidden;
          .im {
            position: absolute;
            top: -166px;
            right: -166px;
            transition: all 0.1s ease-in-out;
          }
          .box {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            text-align: left;
            img {
              width: 100%;
              height: 255px;
            }
            p {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 700;
              font-size: 18.5px;
              line-height: 30px;
              color: #22343d;
              padding-bottom: 23px;
            }
            h3 {
              color: black;
              font-weight: 500;
              font-size: 14px;
              padding-bottom: 20px;
            }
            a {
              color: blue;
              font-weight: 500;
              font-size: 15px;
              padding-bottom: 20px;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
// Footer-End 
@media(max-width:500px){
  .footer-end{
    .fle{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}